[Desktop Entry]
Type=Application
Version=0.1.5
Exec=2048-qt
Name=2048-qt
GenericName=2048-qt
Comment=mathematics based puzzle game
Icon=/usr/share/pixmaps/2048-qt.xpm
Terminal=false
StartupNotify=true
Keywords=game;puzzle
Categories=Game;LogicGame
